HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeChanged1,toBeChanged2,toBeChanged3,toBeChanged4
API_TOKEN_SALT=toBeChangedApiTokenSalt
ADMIN_JWT_SECRET=toBeChangedAdminJwt
TRANSFER_TOKEN_SALT=toBeChangedTransferTokenSalt
JWT_SECRET=toBeChangedJwtSecret

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5437
DATABASE_NAME=vyntech_strapi
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=VynTech2024
DATABASE_SSL=false
